@import url(./fonts/font.scss);

$break-small: 520px;

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
}

*:focus,
textarea:focus,
input:focus,
button:focus {
  outline: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Clear Sans", Arial, sans-serif;
  background: #0f073c;
  color: white;
  overflow: hidden;
  @media screen and (max-width: $break-small) {
    margin: 20px 0;
    padding: 0 20px;
    font-size: 12px;
  }
}

html,
body {
  @media screen and (max-width: $break-small) {
    margin: 20px 0;
    padding: 0 20px;
    font-size: 12px;
    overflow: hidden;
    position: fixed;
    -webkit-overflow-scrolling: touch;
  }
}

.app {
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  & #home {
    padding: 15px;
  }
}

.buttonWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.A2HS {
  margin-top: 1em;
  margin-right: 1em;
  min-width: fit-content;
  background-color: transparent !important;
  border: 2px solid #3d2963 !important;
  box-shadow: 1px 1px #221736;
}

.playPauseContainer {
  display: flex;
  justify-content: space-between;
}
